API_KEY_CURRENCY = "ключ для получения курса валют функция get_currency"
API_KEY_SECURITY = "ключ для  курсы акций функция get_stocks"
API_KEY_TICKER  = "ключ для получения цен на акции функция get_prices_ticker"